# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore metadata
.metadata

# ignore serialized output files
*.ser

# test files
**/*.docx
**/*.pdf
**/*.zip
**/*.jpg
**/*.jpeg
**/*.gif
